@if(isLoading){
<app-loading-spinner />
}
@else {
<p-card styleClass="mx-4 md:mx-8 lg:mx-20 p-4">
  <ng-template #header>
    <div class="flex justify-between">
      <h1 class="text-secondary font-semibold text-xl">Basic Details</h1>
      <div class="flex gap-2">
        <div class="p-2 rounded-sm bg-[#f0ebff] hover:bg-primary-50" (click)="drawerVisible=true">
          <lucide-angular [img]="Pencil" class="text-[var(--p-primary-color)]" size="16"></lucide-angular>
        </div>
        <div class="p-2 rounded-sm bg-[#f0ebff] hover:bg-primary-50" (click)="deleteDialogVisible=true">
          <lucide-angular [img]="Trash" class="text-[var(--p-primary-color)]" size="16"></lucide-angular>
        </div>
      </div>
    </div>

  </ng-template>
  <ng-template #content>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Company Name</label>
        <div class="flex gap-2">
          <img [src]="application?.logo" height="25px" width="25px" style="object-fit: contain;" />
          <h2 class="text-secondary text-lg font-semibold">
            {{application?.companyName}}</h2>
        </div>

      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Role</label>
        <h2 class="text-secondary text-lg font-semibold">{{application?.role}}</h2>
      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Location</label>
        <div class="flex items-center gap-1">
          <lucide-angular [img]="MapPin" class="text-[var(--p-primary-color)]" size="16"></lucide-angular>
          <h2 class="text-secondary text-lg font-semibold">{{application?.location}}</h2>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Source</label>
        <h2 class="text-secondary text-lg font-semibold">{{application?.source}}</h2>
      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Job Type</label>
        <h2 class="text-secondary text-lg font-semibold">{{application?.jobType}}</h2>
      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Status</label>
        <h2 class="text-secondary text-lg font-semibold">
          @if(application?.status === 'applied'){
          <p-tag [value]="application?.status ?? ' ' | titlecase " [rounded]="true" />
          }
          @else {
          <p-tag [value]="application?.status ?? ' ' | titlecase" [severity]="getSeverity(application?.status ?? ' ')"
            [rounded]="true" />
          }
        </h2>
      </div>
      <div class="flex flex-col">
        <label class="mb-1 text-sm text-gray-500">Date Created</label>
        <h2 class="text-secondary text-lg font-semibold">{{application?.createdAt | date: 'dd/MM/yyyy'}}</h2>
      </div>
      <div class="flex text-lg font-semibold text-primary-400 cursor-pointer hover:text-primary-300 items-center">
        <a [href]="application?.jobPostLink" target="_blank">ApplicationLink</a>
      </div>
    </div>
  </ng-template>
</p-card>

<p-card styleClass="mx-4 mt-6 md:mx-8 lg:mx-20 p-4">
  <ng-template #content>
    @if(application?.description === 'Processing...'){
    <p-skeleton styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
    <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
    }
    @else {
    <div [innerHTML]="cleanJobDescription(application?.description ?? ' ')">
    </div>
    }
  </ng-template>
</p-card>


<p-card styleClass="mx-4 mb-6 mt-6 md:mx-8 lg:mx-20 p-4">
  <ng-template #header>
    <div class="flex justify-between">
      <h1 class="text-secondary font-semibold text-xl">Time Line</h1>
    </div>
  </ng-template>
  <ng-template #content>
    <p-timeline [value]="events">
      <ng-template #content let-event>
        {{event.status}}
      </ng-template>
      <ng-template #opposite let-event>
        {{event.date | date: 'dd/MM/yyyy'}}
      </ng-template>

    </p-timeline>
  </ng-template>
</p-card>

<p-card styleClass="mx-4 mt-6 mb-6 md:mx-8 lg:mx-20 p-4">
  <div class="mb-4 flex justify-between items-center">
    <h1 class="text-xl font-semibold leading-5">Questions Section</h1>
    @if(questionsEditable){
    <div class="py-3 px-6 flex justify-end items-center gap-4">
      <button
        class="py-2 px-3 rounded-sm text-primary-400 bg-[#f0ebff] hover:bg-primary-50 cursor-pointer hover:bg-[#e7dfff] shadow"
        (click)="toggleQuestions()">Cancel</button>
      <p-button [disabled]="!this.questionsForm.valid" (onClick)="onQuestionFormSubmit()">Submit</p-button>
    </div>
    }
    @else {
    <div class="p-2 rounded-sm bg-[#f0ebff] hover:bg-primary-50" (click)="toggleQuestions()">
      <lucide-angular [img]="Pencil" class="text-[var(--p-primary-color)]" size="16"></lucide-angular>
    </div>
    }
  </div>
  <div>
    @if(questionsEditable){
    <form [formGroup]="questionsForm">
      <div formArrayName="sections">
        @for(section of sections.controls; track section.get('id')?.value; let sectionIndex = $index) {
        <div [formGroupName]="sectionIndex" class="mt-4 mb-4">
          <div class="flex gap-2 mb-2 mt-2">
            <input type="text" pInputText formControlName="sectionName" [fluid]="true"
              placeholder="eg. Technical Interview" />
            <div class="p-2 rounded-sm bg-[#f0ebff] hover:bg-primary-50 flex justify-between items-center"
              (click)="removeSection(sectionIndex)">
              <lucide-angular [img]="Minus" class="text-[var(--p-primary-color)]" size="16"></lucide-angular>
            </div>
          </div>
          <div formArrayName="questions" class="lg:ml-12 ml-6">
            <div class="border-l border-l-gray-400 pl-4  ">
              @for(question of getQuestions(sectionIndex).controls; track question.get('id')?.value; let questionIndex =
              $index) {
              <div [formGroupName]="questionIndex">
                <div class="flex gap-2 mb-2 mt-2 lg:pr-12 pr-8 mr-2">
                  <input type="text" pInputText formControlName="question"
                    placeholder="eg. Explain the event loop in Nodejs" [fluid]="true" />
                  <div class="p-2 rounded-sm bg-[#f0ebff] hover:bg-primary-50 flex justify-between items-center"
                    (click)="removeQuestion(sectionIndex,questionIndex)">
                    <lucide-angular [img]="Minus" class="text-[var(--p-primary-color)]" size="16"></lucide-angular>
                  </div>
                </div>
              </div>
              }
            </div>
            <p-button icon="pi pi-plus" label="Add" (click)="addQuestion(sectionIndex)" styleClass="ml-5" />
          </div>
        </div>
        }
        <p-button icon="pi pi-plus" label="Add" (click)="addSection()" />
      </div>
    </form>
    }
    @else {
    <p-accordion [value]="0">
      @for(section of application?.interviewQuestions;track i; let i= $index){
      <p-accordion-panel [value]="i">
        <p-accordion-header>
          {{ section.sectionName }}
        </p-accordion-header>
        <p-accordion-content>
          <ul class="m-0 list-disc pl-5">
            @for(q of section.questions;track j; let j = $index ){
            <li> {{ q.question }}</li>
            }
          </ul>
        </p-accordion-content>
      </p-accordion-panel>
      }
    </p-accordion>
    }

  </div>
</p-card>

<app-drawer [drawerVisible]="drawerVisible" [applicationForm]="applicationForm" (close)="handleDrawerClose()"
  (submit)="onSubmit()" title="Edit Application" btnText="Save">
</app-drawer>

<app-dialog [visible]="deleteDialogVisible" title="Delete Application" btnText="Delete"
  (close)="handleDeleteDialogClose()" (submit)="onDeleteConfirm()">
  <img src="question.svg" style="height: 200px;" />
  <div class="flex justify-center items-center mt-4">
    <h2>Do you want to Delete this Application ?</h2>
  </div>
</app-dialog>

<p-toast [breakpoints]="{ '920px': { width: '90%' } }" />
}

<p-card styleClass="mx-4 mt-6 md:mx-8 lg:mx-20 p-4 mb-6">
  <div class="mb-4 flex justify-between items-center">
    <div class="flex gap-1">
      <lucide-angular [img]="Paperclip" class="text-[var(--p-primary-color)]" size="20"></lucide-angular>
      <h1 class="text-xl font-semibold leading-5">Attachments</h1>
    </div>
    <p-button icon="pi pi-upload" label="Upload" />
  </div>
  <div>
     <div class="flex justify-between">
      <div class="flex gap-2 mb-4">
        <lucide-angular [img]="FileText" class="text-[var(--p-primary-color)]" size="20"></lucide-angular>
        <h3>Tata Consultancy Services Offer Letter.pdf</h3>
      </div>
      <h3>45.5 mb</h3>
      <h3>24 July 2025 7:45 am</h3>
      <div class="flex gap-4">
        <lucide-angular [img]="Eye" class="text-[var(--p-primary-color)] cursor-pointer" size="25"></lucide-angular>
        <lucide-angular [img]="ArrowDownToLine" class="text-[var(--p-primary-color)] cursor-pointer" size="25"></lucide-angular>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex gap-2 mb-4">
        <lucide-angular [img]="FileText" class="text-[var(--p-primary-color)]" size="20"></lucide-angular>
        <h3>Tata Consultancy Services Offer Letter.pdf</h3>
      </div>
      <h3>45.5 mb</h3>
      <h3>24 July 2025 7:45 am</h3>
      <div class="flex gap-4">
        <lucide-angular [img]="Eye" class="text-[var(--p-primary-color)] cursor-pointer" size="25"></lucide-angular>
        <lucide-angular [img]="ArrowDownToLine" class="text-[var(--p-primary-color)] cursor-pointer" size="25"></lucide-angular>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex gap-2 mb-4">
        <lucide-angular [img]="FileText" class="text-[var(--p-primary-color)]" size="20"></lucide-angular>
        <h3>Tata Consultancy Services Offer Letter.pdf</h3>
      </div>
      <h3>45.5 mb</h3>
      <h3>24 July 2025 7:45 am</h3>
      <div class="flex gap-4">
        <lucide-angular [img]="Eye" class="text-[var(--p-primary-color)] cursor-pointer" size="25"></lucide-angular>
        <lucide-angular [img]="ArrowDownToLine" class="text-[var(--p-primary-color)] cursor-pointer" size="25"></lucide-angular>
      </div>
    </div>
    <div class="flex gap-2 mb-4">
      <lucide-angular [img]="Image" class="text-[var(--p-primary-color)]" size="20"></lucide-angular>
      <h3>tcs.jpeg</h3>
    </div>
  </div>
</p-card>